.App {
  text-align: center;
}

.App-logo {
  border-radius: 50%;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #444444;
  max-height: 40vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding-left: calc(10px + 2vmin);;
  padding-right: calc(10px + 2vmin);;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-background {
  background-color: #444444;
}

.text {
  font-size: calc(6px + 2vmin);
  color: #444444;
}

.header-text {
  font-size: calc(4vmin);
  font-weight: bold;
  margin-right: calc(2vmin);
}

.footer-text {
  font-size: calc(2vmin);
  margin-right: calc(2vmin);
}

.App-body {
  background-color: #dddddd;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #444444;
  max-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
